
  .titulo {
    margin-top: 20px;
            font-size: 30px;
            text-align: center;
            font-family: sans-serif;
            font-weight: bold;
          }

.nuevop {
  font-size: 15px;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}
